:root {
    --fonte--principal: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --fonte--secundaria: 'Lobster', cursive;
    --fonte--terciaria: 'Open Sans', sans-serif;

    --cor--principal: rgb(130, 10, 209);
    --cor--secundaria: rgb(213, 54, 192); 
    --cor--terciaria: rgb(255, 255, 255); 

    --sobra--: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}



   
