.container-conhecimento {
  display: flex ;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-around;
 
}


.grupo-conhecimentos {
  display: flex;
  margin-top: 3rem;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}


.custom-button:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.card-conhecimento {
  width: 135px

}

.card-conhecimento:hover {
  transform: scale(1,1.1);
}

.card-corpo {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.grupo-botoes {
  width: 40rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.botao-conhecimento {
  width: 140px;
  background-color: var(--cor--secundaria);
  color: rgb(255, 255, 255);
  border-color: var(--cor--secundaria);
  margin: 0.3rem;
}

.botao-conhecimento:hover {
  background-color: var(--cor--principal);
  border-color: var(--cor--principal);
}

.card-conhecimento__conhecimento {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor--principal);
  
}

.card-conhecimento__titulo {
  font-family: var(--fonte--secundaria);
  color: var(--cor--principal);
  margin-top: 2rem;
  font-size: 2.7rem;
  font-weight: 900;
}

@media screen and (min-width: 620px){
  .grupo-botoes {
    width: 35rem;
    flex-direction: row;
  }
  
}

.botao-ativo {
  background-color: var(--cor--principal);
 color: white;
}