.container-home {
    height: 300px;
    display: flex;
    margin-top: 7rem;
    justify-content: center;
    
}
.card {
    font-family: var(--fonte--secundaria);
    width: 40rem;
    height: 20rem;
    border: none;
}

.card-texto {
    color: var(--cor--principal);
    font-size: 1.5rem;
    font-weight: 900;
}

.card-botao {
    margin-top: 2rem;
    font-size: 1.1rem;
    margin-left: 1rem;
    border: none;
}

.card-botao__instagram {
    background-color: var(--cor--secundaria)   
}

.card-botao__instagram:hover {
    background-color: rgb(191, 60, 173); 
}

.card-imagem__home {
    margin-left: 8rem;
    display: none;
    width: 500px;
    height: 500px;
}

.card-gif {
    height: 400px;
    width: 400px;
}

@media screen and (min-width: 450px){
    .card-texto {
        font-size: 2.0rem;
    }
}

@media screen and (min-width: 767px){
    .card-texto {
        font-size: 2.5rem;
    }
}
@media screen and (min-width: 991px){
    .container-home {
        flex-direction: row;
        height: 600px;
    }

    .card-imagem__home {
        display: initial;
    }
    
}

