.navbar {
    
    background-color: var(--cor--principal);
    font-family: var(--fonte--primaria);
    box-shadow: var(--sobra--)
}

.nav-itens {
    font-size: 1.3rem;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
}


.nav-titulo {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.nav-hamburger {
    margin-right: 1rem;
}

