.container-projetos {
  background-color: var(--cor--principal);
  margin-top: 3rem;
}

.card-projetos__titulo {
  font-size: 2.7rem;
  font-weight: 900;
  font-family: var(--fonte--secundaria);
  color: var(--cor--terciaria);
  align-self: center;
}

.card-projetos__projetos {
  width: 25rem;
  height: 23rem;
  background-color: var(--cor--secundaria);
}

.card-projetos {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-projetos__texto {
  font-family: var(--fonte--principal);
}

.card-projetos__grupobotoes {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.card-projetos__corpo {
  display: none;
 
}
.card-projetos__projetos:hover .card-projetos__corpo{
  display: initial;
  
}
.card-projetos__projetos:hover {
  height: 33rem;
}
