.container-sobre {
    height: 600px;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--cor--principal);
}

.card-sobre {
    background-color: var(--cor--principal);
    font-family: var(--fonte--secundaria);
    width: 40rem;
    height: 37rem;
    border: none;
}

.card-sobre__titulo {
    color: white;
    font-size: 2.7rem;
    font-weight: 900;
}

.card-sobre__paragrafo {
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.card-imagem__sobre {
    display: none;
    width: 600px;
    height: 500px;
    margin-right: 10rem;
    
}

.card-sobre__cartao {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-botao__curriculo {
    background-color: #b8860b;
}

.card-botao__curriculo:hover {
    background-color: #a57b12;
} 
    


@media screen and (min-width: 1105px){
    .card-imagem__sobre {
        display: initial; 
        margin-left: 2rem;  
    }
}
